# Entorno de ejecución:
# development | test | production
NODE_ENV=development

# Puerto HTTP de la API
PORT=3000

# Conexión con PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=change_me
DB_NAME=comisiones_db

# Origen permitido para el frontend
FRONTEND_URL=http://localhost:4200

# Documentación Swagger
SWAGGER_ENABLED=true